charset-normalizer==3.0.1
colorama==0.4.6
cors==1.0.1
Flask==2.2.2
Flask-Cors==3.0.10
importlib-metadata==6.0.0
pymongo==4.3.3
python-dotenv==0.21.1
requests==2.28.2
requests-file==1.5.1
tldextract==3.4.0
urllib3==1.26.14